.experience .container div .boxes div.box div.icon {
  padding: 10px;
  width: fit-content;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.experience .container div .boxes div.box:first-child div.icon {
  background-color: #46d3ff;
}

.experience .container div .boxes div.box:nth-child(2) div.icon {
  background-color: #fc552f;
}

.experience .container div .boxes div.box:last-child div.icon {
  background-color: #a56dff;
}

.experience .container div div.image {
  height: 400px;
}
.experience .container div div.image::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(../../../images/martin-martz-TjROipvPS5g-unsplash.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

@media (max-width: 992px) {
  .experience .container div div.image {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .experience .container div div.image {
    width: 35%;
  }
}
